<h1>Angular App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav class="p-4 border" align="center">
  <ul class="nav">
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/experiment" routerLinkActive="disabled active" >
        Experiments
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/compute" routerLinkActive="disabled active" >
        Compute Homography
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/visualize" routerLinkActive="disabled active" >
        Visualize Homography
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/config" routerLinkActive="disabled active" >
        Configuration
      </a>
    </li>
  </ul>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>