<div class="p-4" align="center">
    <div class="p-2" align="center">
        <button type="button" class="btn btn-default btn-primary" (click)="triggerStartScript()">
            Start Process
        </button>
    </div>
    <div class="p-2" align="center">
        <button type="button" class="btn btn-default btn-primary" (click)="triggerStopScript()">
            Stop Process!!
        </button>
    </div>
</div>

<hr />

<div class="p-4 card border-0">
    <div class="card-body">
        <!-- <h5 class="card-title font-weight-bold" align="center">Backup & Clear</h5> -->

        <div class="mb-3 d-flex row" align="center">
            <div class="col-3"></div>
            <div class="col-3">
                <input type="text" style="width: 100%;" class="form-control" placeholder="Backup Folder" #txtBkpFolder>
            </div>
            <div class="col-3">
                <!-- <input type="button" class="btn btn-primary btn-default"> -->
                <button class="btn btn-default btn-primary" (click)="triggerBackup(txtBkpFolder.value)">
                    Backup & Clear Server Files
                </button>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>