<div class="p-4" align="center">
    <!-- <div class="p-2">
        <button type="button" (click)="triggerStartScript()" class="btn btn-default btn-primary">
            Execute Shell Script!!
        </button>
    </div>
    <div class="p-2">
        <button type="button" class="btn btn-default btn-primary" (click)="triggerStopScript()">
            Stop Process!!
        </button>
    </div> -->
    
    <div class="p-2" align="center">
        <button type="button" class="btn btn-default btn-primary" (click)="triggerStartScript()">
            Start Process
        </button>
    </div>
    <div class="p-2" align="center">
        <button type="button" class="btn btn-default btn-primary" (click)="triggerStopScript()">
            Stop Process!!
        </button>
    </div>
</div>