<app-file-annotate [instance_id]="'visualize-homography'" [title]="'Visualize Homography'"
    (exportPointsEvent)="readChildJSON($event)" (exportImageFileEvent)="readChildImageFile($event)">
</app-file-annotate>

<div class="p-4" align="center" *ngIf="isVisualizationComplete">
    <figure>
        <img class="image" [src]="visualizationImageUrl" />
        <figcaption>Annotated Homography Map</figcaption>
    </figure>

    <hr />
</div>

<div class="p-4" align="center">
    <button (click)="triggerVisualizationScript()" class="btn btn-default btn-primary">
        Execute Shell Script!!
    </button>
</div>