<app-file-annotate [instance_id]="'visualize-homography'" [title]="'Visualize Homography'" [allow_axes]="false"
    (exportPointsEvent)="readChildJSON($event)" (exportImageFileEvent)="readChildImageFile($event)">
</app-file-annotate>

<div class="p-4" align="center" *ngIf="isVisualizationComplete">
    <figure>
        <div class="figure-wrapper">
            <img class="image" [src]="visualizationImageUrl" />
        </div>
        <figcaption>Annotated Visualization</figcaption>
    </figure>

    <hr />
</div>

<!-- <div class="p-4" align="center">
    <select #selBoundary (change)="boundaryDropdownChange(selBoundary.value)" class="btn btn-secondary"
        name="boundary-dropdown" id="selBoundary">
        <option value="-1">Select points type</option>
        <option value="1">Boundary Points</option>
        <option value="2">Standard Points</option>
    </select>
</div> -->

<div class="p-4 d-flex" align="center">
    <div class="col-4"></div>
    <div class="p-2 col-2">
        <select #selBoundary (change)="boundaryDropdownChange(selBoundary.value)" class="btn btn-secondary"
            name="boundary-dropdown" id="selBoundary">
            <option value="-1">Select points type</option>
            <option value="1">Boundary Points</option>
            <option value="2">Standard Points</option>
        </select>
    </div>
    <div class="p-2 col-2">
        <button (click)="triggerVisualizationScript()" class="btn btn-default btn-primary">
            Execute Shell Script!!
        </button>
    </div>
    <div class="col-4"></div>
</div>